{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="ui floating message" style="margin-top: 25px; border-radius: 15px;">
  <!--<h1>{% trans "Sign Up" %}</h1>-->
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>
<div class="ui grid" style="margin-top: 25px;">
  <div class="row" style="background-color: rgb(240, 245, 179);border-radius: 25px;">
    <div class="ten wide column">
     <img src={% static 'images/bg.png' %} style="width:max-content; height: 350px;">
     
    </div>
    <div class="six wide column">
      <form class="ui form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      
        <button type="submit" class="ui secondary button">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}
