{% extends 'base.html' %}
{% load static %}


{% block title %}
    home
{% endblock title %}


{% block content %}
<div class="ui grid" style="width: 50%; margin: auto;">
    <div class="ui floating secondary message" style="margin-top: 25px; border-radius: 15px; ">
        <h4 class="ui header">
        <img src={{picture.url}} class="ui avatar image"> &nbsp;
    Welcome to SmaPetz {{user}}!</h4>
    </div>
</div>
<div class="ui segment" style="width: 400px !important;">
    <div class="twelve wide column">
        <div class="ui segment">
            <img src={{picture.url}} class="ui avatar image"> &nbsp;
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <img src={{picture.url}} class="ui avatar image"> &nbsp;
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
    <script>
        
    </script>
{% endblock scripts %}
    
    
    