body{
    background: #f8f8f8 !important;
}
.segment{
    margin-top: 30px !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0, 0.1) !important;
    border-radius: 20px !important;
    
}

.petmodal{
    height: 300px !important;
    top: 200px !important;
    border-radius: 20px !important;
}
.w-full{
    background: #deeb6c !important;

}
.btnSend{
    background: #E35244 !important;
}
.like-btn{
    width: fit-content !important;
}
.imgLike{
    width: 65px !important;
    height: 65px !important;
}
.imgLike:hover{
    animation: bounce 1s linear !important;
}
@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0) !important;
    }
    40%{
        transform: translateY(-30px) !important;
    }
    70%{
        transform: translateY(-15px) !important;
    }
    90%{
        transform: translateY(-4px) !important;
    }
}


.w-big{
    width: 200px !important;
}
.nav{
    border-radius: 25px !important;
    margin: 15px !important;
    height: 50px !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0, 0.1) !important;
    background: linear-gradient(45deg, #E35244,#deeb6c) !important;
    padding: 10px 0 10px 0 !important;
}
.mb-7{
    margin-bottom: 7px !important;
}
.mt-5{
    margin-top: 5px !important;
}

